# Binaries
build/bin/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Dependencies
node_modules/
frontend/node_modules/

# Frontend build
frontend/dist/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
go.work
go.work.sum
assets/demo/test_image.jpg
assets/demo/test_video.mp4

frontend/wailsjs/go/models.ts
frontend/wailsjs/go/main/App.d.ts
frontend/wailsjs/go/main/App.js
frontend/wailsjs/runtime/package.json
frontend/wailsjs/runtime/runtime.d.ts
frontend/wailsjs/runtime/runtime.js