__pycache__/
ffmpeg.exe
ffprobe.exe
build/
templates/
settings.json
demo/
dist/
doc/
logs/
whisper-cli-amd/
crash_faulthandler.log
crash.log
GEMINI.md
statistics.json
CombainAI.spec
efects/
icon.jpg
ffmpeg
ffprobe
assets/yt-dlp.exe
assets/yt-dlp