rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      match /pipelineTemplates/{templateId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /devices/{deviceId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /remoteJobs/{jobId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
        match /tasks/{taskId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
        match /statuses/{taskId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
        match /translationControls/{taskId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
        }
      }
    }
  }
}
